// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  height: 75vh;
  min-height: 500px;
  background-image: url(landing_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}