// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.scdhead {
  height: 30vh;
  min-height: 300px;
  background-image: url(landing_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}